<div class="container">
  <div class="main-content">
    <form>
      <div class="row">
        <div class="form-group form-container col-md-6 col-md-offset-3">
          <div>
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Insert your name"
              #publicationName
            />
            <textarea
              name="form-text"
              id="text-message"
              rows="2"
              class="form-control form-message-box"
              #publicationMessage
            ></textarea>
          </div>
          <button class="btn btn-default btn-send-form" (click)="add(publicationName.value, publicationMessage.value); publicationName.value=''; publicationMessage.value='';">Send</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="publications">
        <app-publication *ngFor="let publicationElement of publications; let i = index" [index]="i" [publication]="publicationElement" [publicationsFather]="publications" (deleteMethod)="delete(publicationElement)" (getElements)="getPublications()"></app-publication>
      </div>
    </div>
  </div>
</div>


